.dialog{
  position: relative;
  width: 400px;
  height: 150px;
  padding: 30px 30px 30px;
  background: #FF8251;
  border: 1px solid;
  border-color: #dfdcdc #d9d6d6 #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

#close-icon{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.edit-input{
  padding: 4px 10px 4px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  border: solid 1px #dddddd;
  border-radius: 5px;
  flex-grow: 1;
  font-weight: bold;
}
