.todo-item {
  padding: 10px 0;
  border-top: solid 1px #ddd;
  min-height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
  cursor: pointer;

  :hover {
    color: black;
    transition-delay: 0.2s;
  }
}

.todo-checkbox {
  flex-shrink: 0;
  margin: auto 1ex auto 0;
}

.todo-title {
  flex-grow: 1;
  padding-left: 11px;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.todo-complete {
  text-decoration: line-through;
}
