<div class="todo-item">
  <div>
    <input type="checkbox"
          class="todo-checkbox"
          (click)="completeItem()"
          [checked]="item.completed"
          [contentEditable]="edit" />
      <span class="todo-title" [ngClass]="{'todo-complete': item.completed}">
      {{ item.title }}
      </span>
  </div>

  <span class="material-symbols-outlined" (click)="removeItem()">
    delete_forever
  </span>

  <span *ngIf="router.url === '/admin'" class="material-symbols-outlined" (click)="openDialog()">
    edit
  </span>

</div>
